{% extends 'management/management.html.twig' %}
   {% block stylesheets %}
       {{ parent() }}
     <link href="{{ asset('css/structure.css') }}"  rel="stylesheet">
   {% endblock %}

{% block title %}Структура института{% endblock %}
     {% block workspase %}
       <div id="block_workspace">
           {% block departmemts_list %}
             <ul id="departments">
                 {% for department in data_base.getDepartments(app.user.institute.getId) %}
                   <li>
                     <a href="/management/structure/department/{{ department.getShortName }}">{{ department.getShortName }}</a>
                   </li>
                 {% endfor %}
             </ul>
           {% endblock %}

         <div id="group_list">
             {% block groups_list %}
                 <ul id="courses">
                     {% for course, groups  in data_base.getGroups(department_name) %}
                         <li class="courses_li">
                             <ul class="groups">
                                 <li><h4>{{ course }}курс</h4></li>
                                 <li><a href="/management/structure/department/{{ department_name }}/{{ course }}/new">Добавить</a></li>
                                 {% for group  in groups %}
                                     <li class="group_item">
                                         <div  onclick="toggle(this)" class="group_name">
                                             <a class="group_edit" href="{{ path('group_edit', {'currentDepartment': department_name, 'groupId': group.getId}) }}"><img src="{{ asset('img/edit.png') }}" width="15px" height="15px"></a>
                                             <span>{{ group.getFullName }}</span>
                                             {{ include('groups/group_delete_form.html.twig') }}
                                         </div>
                                         <ul class="group_options" >
                                             {% if group.hasSchedule == false %}
                                                 <li>
                                                     <a href="{{ path('schedule_new',{'currentDepartment': department_name, 'groupId': group.getId }) }}">Расписание предметов</a>
                                                 </li>
                                             {% else %}
                                                 <li>
                                                     <a href="{{ path('schedule_edit',{'currentDepartment': department_name, 'groupId': group.getId }) }}">Расписание предметов</a>
                                                 </li>
                                             {% endif %}

                                             {% if group.hasScheduleExams == false %}
                                                 <li>
                                                     <a href="#">Расписание экзаменов</a>
                                                 </li>
                                             {% else %}
                                                 <li>
                                                     <a href="#">Расписание экзаменов</a>
                                                 </li>
                                             {% endif %}
                                         </ul>
                                     </li>
                                 {% endfor %}
                             </ul>
                         </li>
                     {% endfor %}
                 </ul>
             {% endblock %}
         </div>
       </div>
     {% endblock %}

{% block massage %}
    {% for message in app.flashes('new') %}
        <span id="flash_massage" style="background: green">{{ message }}</span>
    {% endfor %}

    {% for message in app.flashes('edit') %}
        <span id="flash_massage"  style="background: blue">{{ message }}</span>
    {% endfor %}

    {% for message in app.flashes('delete') %}
        <span id="flash_massage"  style="background: red" >{{ message }}</span>
    {% endfor %}
{% endblock %}