{% extends 'management/management.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('css/list.css') }}"  rel="stylesheet">
 {% endblock %}

{% block title %}Список предметов{% endblock %}

{% block workspase %}
    <div id="block_workspace">
        <div id="departments">
            <ul>
                {% for department in data_base.getDepartments(app.user.institute.getId) %}
                    <li>
                        <a href="{{ path('subject_show', {'currentDepartment':department.getShortName}) }}">{{ department.getShortName }}</a>
                        <ul id="courses">
                            {% for course in data_base.getCourses %}
                                <li>
                                    <a href="{{ path('subject_show_course', {'currentDepartment':department.getShortName, 'number': course.getNumber}) }}">{{ course.getNumber }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

       <div id="subjects_list">
           <ul>
               <li>
                   {% if current_course == null %}
                   <a href="{{ path('new_subjects', {'currentDepartment' : department_name}) }}">Добавить предмет</a>
                   {% else %}
                   <a href="{{ path('new_subjects_course', {'currentDepartment' : department_name, 'number' : current_course }) }}">Добавить предмет</a>
                   {% endif %}
               </li>
            {% for subject in data_base.getSubjects(department_name, current_course) %}
                <li>
                    {{ subject.getName }}{{ include('subjects/subject_delete_form.html.twig') }}
                    <a href="{{ path('subjects_edit', {'currentDepartment': department_name, 'id' : subject.getId}) }}">Редактировать</a>
                </li>
           {% endfor %}
           </ul>
       </div>
    </div>
{% endblock %}

{% block massage %}
    {% for message in app.flashes('new') %}
        <span id="flash_massage" style="background: green">{{ message }}</span>
    {% endfor %}

    {% for message in app.flashes('edit') %}
        <span id="flash_massage"  style="background: blue">{{ message }}</span>
    {% endfor %}

    {% for message in app.flashes('delete') %}
        <span id="flash_massage"  style="background: red" >{{ message }}</span>
    {% endfor %}
{% endblock %}
